header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #bfd2d9;
    margin-bottom: 10px 0;
}

.custom-navbar {
    background-color: #bfd2d9;
}

.navbar-toggler {
    border: none;
    background: none;
}

.navbar-toggler-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-image: url("https://github.com/Teresani/Integracio_de_paginas/blob/main/AngularPage/public/HeaderMenu.png");
}

.navbar-brand img {
    height: 80px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 70%;
    overflow: visible;
    border-radius: 20px;
    flex-wrap: nowrap;
}

.relative-container {
    position: relative;
    width: 100%;
}

.search-input {
    padding-left: 40px;
    border-radius: 20px;
    border: 6px solid #094797;
    height: 40px;
    width: 100%;
}

.input-group-text {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    z-index: 1;
}

.btn-transparent {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.btn-transparent img {
    height: 40px;
    margin-left: 5px;
}

.BotonesNavbar {
    display: flex;
    justify-content: space-between;
    background-color: #003851;
    padding: 10px 50px;
    margin-top: 10px;
}

.BotonesNavbar button {
    background-color: #003851;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.BotonesNavbar a {
    color: white;
    text-decoration: none;
}

.BotonesNavbar button a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

body {
    margin-top: 120px;
}

@media (max-width: 992px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .input-group {
        width: 80%;
        margin-bottom: 15px;
    }

    .search-form {
        width: 100%;
        margin-top: 10px;
    }

    .btn-transparent {
        margin-bottom: 20px;
        margin-left: 0;
        text-align: center;
    }

    .navbar-brand img {
        height: 60px;
    }
}

main {
    margin-top: 150px;
}

@media (max-width: 480px) {
    body {
        margin-top: 150px;
    }

    main {
        margin-top: 160px;
    }

    .navbar-brand img {
        height: 50px;
    }

    .BotonesNavbar {
        padding: 10px 20px;
        flex-direction: column;
        align-items: center;
    }

    .BotonesNavbar button {
        margin: 10px 0;
        padding: 12px 25px;
        font-size: 14px;
    }

    .search-form {
        margin-top: 10px;
        width: 90%;
    }

    .input-group {
        width: 100%;
    }

    .navbar-toggler-icon {
        width: 40px;
        height: 40px;
    }
}